.Checkbox {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  /* width: 1.15em; */
  /* height: 1.15em; */
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.Checkbox:disabled {
  pointer-events: none;
}

.Checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* background-color: red; */
  /* background-color: CanvasText; */
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* input[type="checkbox"]:indeterminate { */
/*   /1* background-color: CanvasText; *1/ */
/* } */

/* input[type=checkbox]:indeterminate::before { */
/*     content: ""; */
/*     display: block; */
/*     color: white; */
/*     width: 5rem; */
/*     height: 5rem; */
/*     background-color: #3B99FC; */
/* } */

.Checkbox:indeterminate::after {
  content: "";
  display: grid;
  place-content: center;
  width: 0.75rem;
  height: 0.75rem;
  border: solid white;
  border-width: 0.18rem 0 0 0;
  /* position: absolute; */
  /* top: 9px; */
  /* left: 5px; */
}

.Checkbox:checked::before {
  transform: scale(1);
}

/* input[type="checkbox"]:focus { */
/*   /1* outline: max(2px, 0.15em) solid currentColor; *1/ */
/*   /1* outline-offset: max(2px, 0.15em); *1/ */
/* } */

.Checkbox:disabled {
  color: #636363;
  cursor: not-allowed;
}

.Checkbox:disabled::before {
  box-shadow: inset 1em 1em #636363;
}
