@tailwind base;
@tailwind components;
@tailwind utilities;

/* Palettes */

@layer base {
  :root {
    --bg: theme("colors.blue.600");
    --text: theme("colors.white");
    --hover: theme("colors.blue.700");
    --active: theme("colors.blue.800");
    --focus: theme("colors.blue.900");
    --focus-border: theme("colors.gray.600");
    --border: theme("colors.gray.400");
    --disabled: theme("colors.blue.300");
    --disabled-text: theme("colors.white");
    --disabled-border: theme("colors.gray.400")
  }

  .secondary {
    --bg: theme("colors.green.600");
  }
}
